{{# if isActive}}
<div class="signIn">
    <link  href="/css/signin.css" rel="stylesheet">
    <div class="card-body">Авторизация</div>
    <div class="card-login">
        <div class="err">
        {{#if error}}
       <p>{{error}}</p>
        {{/if}}
    </div>
    <form action="/signin" method="POST">
    <div class="imgcontainer">
      <img src="" alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter email" name="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>


      <button type="submit">Login</button>

    </div>

      <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="window.location.href='/'" class="cancelbtn">Cancel</button>
      <span class="reset-password">Forgot <a href="/reset">password</a></span>
    </div>
  </form>
    </div>
</div>
</div>

{{else}}

<div class="signIn">
    <link  href="/css/signin.css" rel="stylesheet">
    <div class="card-body">Активация аккаунта</div>
        <div class="err">
        {{#if error}}
       <p>{{error}}</p>
        {{/if}}
    </div>
    <form action="/verifyEmail" method="POST">
    <div class="container">

      <label  for="secretKey"><b>Key</b></label>
      <input type="text" placeholder="Enter Key" name="secretKey" id="secretKey" required>

        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="secret" value="{{secret}}">

      <button type="submit">Login</button>

    </div>
      <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="window.location.href='/'" class="cancelbtn">Cancel</button>
    </div>
  </form>
    </div>

{{/if}}
